.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
#slider-image {
  /* max-width: 100%; */
  /* height: auto; */
}
  
.prev-button, .next-button {
  
  /* padding: 10px 20px;
  cursor: pointer; */
}
  
.prev-button {
  margin-right: 10px;
  float:left;
}
  
.next-button {
  margin-left: 10px;
  float:right;
}
  